# ignore cache
__pycache__/
*.py[cod]

# ignore logs
pip-log.txt
pip-delete-this-directory.txt

# ignore virtualenv
.venv/
venv/
env/
.env/

# ignore notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# other
.toml
